/* Fonts & Colors */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    /* Primary */
    --Light_Cyan: hsl(193, 38%, 86%);
    --Neon_Green: hsl(150, 100%, 66%);
    /* Neutral */
    --Grayish_Blue: hsl(217, 19%, 38%);
    --Dark_Grayish_Blue: hsl(217, 19%, 24%);
    --Dark_Blue: hsl(218, 23%, 16%);
    /* Personal */
    --Univers:hsla(217, 19%, 16%);
}

/* General styles */
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    user-select: none;
}

/* Body start */
body {
    background-color: var(--Univers);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 0.1px);
}
/* Body end */

/* main start */
main {
    background-color: var(--Dark_Grayish_Blue);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    margin: auto;
    max-width: 310px;
    font-family: 'Manrope', sans-serif;
}
/* main end */

/* Container start */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
/* Container end */

/* Advice ID start */
.container h3 {
    color: var(--Neon_Green);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
}
/* Advice ID end */

/* Advice text start */
.container p{
    font-size: 28px;
    color: var(--Light_Cyan);
    line-height: 1.2;
}
/* Advice text end */

/* Icons & Button start */
.divider {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.divider img {
    position: relative;
}

main button {
    background-color: var(--Neon_Green);
    padding: 1rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
main button:hover{
    box-shadow: 0 0 30px var(--Neon_Green);
}
/* Icons & Buttons end */

/* Responsive Model */
@media (min-width:500px) {
    .container {
        max-width: 480px;
    }
}

/* Foot style */
.attribution {
    font-size: 11px;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }